* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 254);
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(219, 175, 235);
  padding: 45px;
  box-shadow: 0 0 20px;
  color: rgb(0, 0, 0);
}
form h2 {
  font-size: 35px;
  margin-bottom: 35px;
  color: rgb(11, 9, 4);
}
input {
  background-color: rgb(250, 217, 246);
  padding: 17px 20px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 25;
  color: black;
  font-size: medium;
}
.button {
  background-color: rgb(204, 136, 214);
  color: rgb(255, 255, 255);
}
