* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 209, 166);
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(216, 217, 183);
  padding: 45px;
  box-shadow: 0 0 20px;
  color: rgb(249, 239, 250);
}
form h2 {
  font-size: 35px;
  margin-bottom: 35px;
  color: rgb(0, 0, 0);
}
input {
  background-color: rgb(242, 234, 242);
  padding: 17px 20px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 25;
  color: rgb(202, 202, 184);
  font-size: medium;
}
.button {
  background-color: rgb(179, 173, 89);
  color: rgb(238, 225, 238);
}
