* body {
  background-color: rgb(242, 226, 240);
}


h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 2em;
}
p {
  font-size: 1, 25em;
}
li {
  font-size: 1.25em;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
button {
  font-size: 1, 5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(202, 145, 199);
}
button:hover {
  color: rgb(196, 168, 229);
}
.container {
  max-width: 950px;
  margin: auto;
  background-color: rgb(244, 216, 244);
}
header {
  background-color: rgb(221, 142, 228);
  letter-spacing: normal;
  color: rgb(39, 35, 25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

img {
  width: 350px;
  height: 450px;
}

footer {
  background-color: rgb(221, 142, 228);
}
