* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 2em;
}
p {
  font-size: 1, 25em;
}
li {
  font-size: 1.25em;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
button {
  font-size: 1, 5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 180, 41);
}
button:hover {
  color: rgb(195, 133, 27);
}
.container {
  max-width: 1400px;
  margin: auto;
}
header {
  background-color: rgb(255, 203, 15);
  letter-spacing: normal;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

img {
  width: 500px;
  height: 500px;
}
